.about {
	min-height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.9);
	

	.about__left {
		width: 100vw;
		height: 100vh;
		/* flex: 1; */
		background-image: url("../../assets/trainer_about.jpeg");
		background-position: center;
		background-size: cover;
		
		.about__left__title {
			margin-top: 45rem;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			-webkit-text-stroke: 2px rgb(248, 244, 246);
			text-shadow: 0 0 2rem #000;
			backdrop-filter: blur(.1rem);
			font-size: 3.5rem;
			text-align: center;
			font-weight: 700;
			color: transparent;
			text-transform: uppercase;
			letter-spacing: 1.5px;
			/* margin-bottom: 2rem; */
		}
	}

	.about__right {
		/* flex: 2; */
		margin: 8rem 6rem 10rem 6rem;
		position: relative;

		.about__title {		
			display: none;	
		}

		.about__text {
			/* transform: translateY(250rem); */
			font-size: 1.5rem;
			margin-bottom: 2rem;
			color: #fff;
			text-indent: 2rem;
		}
	}
}

@media screen and (min-width: 450px) {
	.about {
		min-height: 100vh;
		width: 100vw;
		display: flex;
		flex-direction: row;
		background-color: rgba(0, 0, 0, 0.9);
	
		.about__left {
			flex: 1;
			background-image: url("../../assets/trainer_about.jpeg");
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;

			.about__left__title {
				display: none;
			}
		}
	
		.about__right {
			flex: 2;
			margin: 8rem 6rem 4rem 6rem;
	
			.about__title {
				display: block;
				-webkit-text-stroke: 2px hotpink;
				font-size: 5.5rem;
				text-align: right;
				font-weight: 700;
				color: transparent;
				text-transform: uppercase;
				letter-spacing: 1.5px;
				margin-top: 3rem;
				margin-bottom: 2rem;
				/* padding: 10rem 0 2rem 0; */
			}
	
			.about__text {
				font-size: 1.5rem;
				margin-bottom: 2rem;
				color: #fff;
				text-indent: 2rem;
			}
		}
	}
	
}
