.blog {
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;


    .blog__page {
        padding-top: 10rem;
        width: 960px;
        margin: 0 auto;
        text-indent: 2rem;

        .blog__title {
            -webkit-text-stroke: 2px hotpink;
			font-size: 5.5rem;
			text-align: center;
			font-weight: 700;
			color: transparent;
			text-transform: uppercase;
			letter-spacing: 1.5px;
			margin-bottom: 5rem;
        }

        .blog__intro {
            font-size: 2rem;
            margin-bottom: 10rem;
        }

        .blog__container {
            padding: 5rem 15rem;
            box-shadow: 0 0 10px #000;
            background-color: rgba(0, 0, 0, .2);
            margin-bottom: 3rem;

            .blog__topic {
                font-size: 2.4rem;
                margin-bottom: 3rem;
            }

            .blog__content {
                font-size: 1.4rem;
                line-height: 1.6;
            }

            .read {
                text-indent: 0;
                text-align: right;
                font-size: 1.2rem;
                cursor: pointer;
            }
        }
    }
}