.navbar {
	width: 100vw;
	height: 12vh;
	position: absolute;
	top: 88vh;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.logo {
		.company__logo {
			margin-left: 2rem;
			width: 5rem;
			height: 5rem;
			display: flex;
			position: absolute;
			top: -85vh;
			left: 0;
		}
	}
	.navbar__links {
		display: flex;

		/*  */
		align-items: center;
		justify-content: center;
		width: 100vw;
		gap: 2rem;

		.navbar__link {
			display: flex;
			flex-direction: row;

			.link__text {
				display: none;
			}
			
			.link__icon {
				display: block;
				margin-right: 1.4rem;
				width: 4rem;
				height: 4rem;
				cursor: pointer;
			}
		}

		.navbar__contact {
			display: flex;
			align-items: center;
			gap: 2rem;
			/* margin-left: 2rem; */

			.navbar__icon {
				margin-right: 1.4rem;
				width: 4rem;
				height: 4rem;
				cursor: pointer;
			}
		}
	}
}

@media screen and (min-width: 450px) {
	.navbar {
		padding: 1.8rem;
		font-size: 2rem;
		text-transform: uppercase;
		font-weight: 200;
		/* position: absolute; */
		top: 0;
		left: 0;

		.logo {
			.company__logo {
				margin-left: 1rem;
				position: absolute;
			top: 2.5rem;
			left: 2.5rem;
			}
		}

		.navbar__links {
			display: flex;

			align-items: center;
		justify-content: flex-end;
		width: 100vw;
		gap: 0rem;
			.navbar__link {
				display: block;
				padding: 0.5rem;
				border-radius: 0.5rem;
				font-size: 2.5rem;

				.link__text {
					margin-right: 4rem;
					display: flex;
					gap: 2.5rem;
				}
				.link__icon {
					display: none;
				}
			}

			.navbar__contact {
				margin-right: 3rem;
				.navbar__icon {
					width: 3rem;
					height: 3rem;
				}
			}
		}
	}
}
