.foot {
    width: 14vw;
    height: 100vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 14rem;
    left: 1.4rem;

    .foot__contact {
        display: flex;
        gap: 2.5rem;
    }

    .foot__social {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        /* background-color: black; */
    }

    .foot__img {
        width: 3rem;
        height: 3rem;
        cursor: pointer;
    }
}



@media screen and (min-width: 450px) {
    .foot {
        width: 100vw;
        height: 12vh;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        bottom: 0;
        left: 0;
        padding-bottom: 2rem;
    
        .foot__contact {
            margin-left: 4rem;
            display: flex;
            gap: 2.5rem;
        }
    
        .foot__social {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 1.8rem;
            margin-right: 4rem;
            background-color: transparent;
            /* padding-left: 3rem; */
        }
    
        .foot__img {
            width: 3rem;
            height: 3rem;
            cursor: pointer;
        }
    }
}
