.foot {
    width: 100vw;
    height: 12vh;
    /* background-color: #f8c3e6; */
    display: flex;
    align-items: center;
    justify-content: space-between;

    .foot__contact {
        margin-left: 4rem;
        display: flex;
        gap: 2.5rem;
    }

    .foot__social {
        display: flex;
        gap: 1.8rem;
        margin-right: 4rem;
    }

    .foot__img {
        width: 3rem;
        height: 3rem;
        cursor: pointer;
    }
}